@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal; */

  /* background-color: #f3f3f3; */
  background-color: #0C2340;
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
  color: #fff;
}

body::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #f3f3f3;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #bcbcbc;
  /* color of the scroll thumb */
}

header {
  background-color: #002244;
  padding: 25px 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: padding .3s;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
}


.left .m-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  background-color: #eea302;
  border-radius: 5px;
  cursor: pointer;
}

.left a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s;
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

/* .left .m-logo a:hover {
  color: #eea302;
} */

.left .wb {
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
}


/* Hamburger Menu */

.right .hamburger {
  display: none;
  flex-direction: column;
  gap: 7px;
}

.right .hamburger.ham-active span:nth-child(1) {
  transform: rotate(-45deg);
  width: 45px;
}

.right .hamburger.ham-active span:nth-child(3) {
  width: 45px;
  transform: rotate(45deg);
}

.right .hamburger.ham-active span:nth-child(2) {
  display: none;
}


.right .hamburger span {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #eea302;
  border-radius: 50px;
  transition: all .5s;
}

/* Hamburger Menu wrap */

.right ul {
  display: flex;
  gap: 14px;
}

.right ul.ham-menu {
  overflow: hidden;
}


.right ul li {
  list-style: none;
  cursor: pointer;
  transition: all .5s;
}


.right ul li a.active-page {
  color: #eea302;
}

.right ul li a {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 12px;
  color: #fff;
  transition: all 0.2s;
  font-family: "Poppins", sans-serif;
}

.right ul li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #eea302;
  left: 2;
  bottom: 0;
  transition: all .2s;
}

.right ul li a:hover {
  color: #eea302;
}

.right ul li a:hover::before {
  width: 40%;
}

.right ul li a.active-page::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  background-color: #eea302;
  left: 2;
  bottom: 0;
  transition: all 1s;
}

.right ul li a[href="contact.html"] {
  background-color: #eea302;
  border-radius: 5px;
}

.right ul li a[href="contact.html"]:hover {
  color: #fff;
}

/* Media Querry wrap */

/* Main */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-style: normal;
  position: relative;
}


main .main-wrap {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  gap: 80px;
}

main .main-wrap .main-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eea302;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  overflow: hidden;
}

main .main-wrap .main-profile img {
  width: 100%;
  margin-top: 50px;
  cursor: pointer;
}

main .main-wrap .main-info {
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.main-wrap .main-info .main-heading {
  flex-direction: column;
  align-items: baseline;
}

main .main-wrap .main-info h2 {
  color: #eea302;
}

main .main-wrap .main-info .headline {
  color: #fff;
}

main .main-wrap .main-info h1 {
  font-size: 40px;
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
}

main .main-wrap .main-info h1 span {
  font-family: "Alegreya", serif;

}

main .main-wrap .main-info p {
  font-family: "Alegreya", serif;
  color: #fff;
  margin-bottom: 5px;

}

main .main-wrap .main-info ul {
  display: flex;
  gap: 14px;
}


main .main-wrap .main-info ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  cursor: pointer;
  border: 1px solid black;
  transition: background 0.2s;
  width: 110px;
  height: 40px;
  border-radius: 15px;
}

main .main-wrap .main-info ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "Alegreya", serif;
  text-decoration: none;
  color: #fff;
}

main .main-wrap .main-info ul li:first-child {
  background-color: #eea302;
  border: 2px solid #eea302;
}

main .main-wrap .main-info ul li:first-child a {
  font-weight: 600;
}

main .main-info>ul:first-of-type>li:nth-of-type(2) {
  border: 2px solid #eea302;
  background-color: transparent;
}

main .main-wrap .main-info ul li:nth-child(2):hover {
  background-color: #eea302;

}

main .main-wrap .main-info ul li:nth-child(2) a {

  color: #eea302;
  font-weight: 600;
}

main .main-wrap .main-info ul li:nth-child(2):hover a {
  color: #fff;
}

main .main-wrap .resume-down {
  justify-content: flex-start !important;
  gap: 10px;
}


main .main-info-social-links {
  background-color: #eea302;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 12px 0px;
  position: absolute;
  left: 0px;
  top: 35%;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

main .main-info-social-links li {
  width: 40px;
  border: none;
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-info-social-links li a img {
  transition: .2s all;
  width: 17px;
}

main .main-info-social-links li:hover a img {
  filter: invert(1);
}


main .main-info .main-info-social-links-2 {
  border-radius: 12px;
  padding: 8px 12px !important;
  gap: 5px !important;
  width: 170px;
  height: 30px;
  margin-top: 7px;
  display: none !important;
}

main .main-info .main-info-social-links-2 li {
  background-color: #eea302;
  border: none !important;
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px !important;
}

main .main-info .main-info-social-links-2 li a img {
  transition: .2s all;
  width: 10px;
}

main .main-info .main-info-social-links-2 li:hover a img {
  filter: invert(1);
}

/* Resume */

.resume {
  padding: 120px 150px;
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.resume .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 150px;
}

.resume .container>h1 {
  font-size: 45px;
}

.resume .resume-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}


.resume .resume-box .resume-info-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.resume .resume-box .resume-info {
  border: 2px solid #eea302;
  padding: 7px 20px;
  border-radius: 12px;
  background-color: #eea302;
}

.resume .resume-box .resume-info .resume-heading h1 {
  font-size: 30px;
}

.resume #Work-Experience .resume-info-box {
  border: 2px solid #eea302;
  padding: 40px 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  border-radius: 12px;
  max-width: 480px !important;
  min-height: 250px !important;
}


.resume .resume-info-box {
  border: 2px solid #eea302;
  padding: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  transition: .2s all;
}

.resume .resume-info-box:hover {
  background-color: #eea302;
  color: #fff;
}

.resume .resume-info-box:hover .content-box p {
  color: #fff;
  font-weight: bold;
}

.resume .resume-info-box:hover .tenure-box h4 {

  color: #fff;
  font-weight: bold;
}

.resume .resume-info-box:hover .content-box .content-heading h2 {
  color: #fff;
}

.resume .resume-info-box:hover .content-box .content-heading span {
  color: #fff;
}


.resume .resume-info-box .team-lead {
  flex-direction: column !important;
  display: flex;
  gap: 24px;
}

.resume .resume-info-box .tl h2 {
  font-size: 16.5px;

}

.resume .resume-info-box .tl span {

  font-size: 8.5px !important;

}

.resume .resume-info-box .tl p {
  font-size: 12px !important;
}



.resume .resume-info-box .tenure-box>h4 {
  /* align-self: flex-start; */
  font-size: 13px;
  font-family: "Roboto Mono", monospace;
  color: gray;
}

.resume .resume-info-box .content-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
  max-width: 390px;
  margin-top: -8px;
}

.resume .resume-info-box .content-box .tl-tenure span {
  margin-right: 34px;
  font-family: "Roboto Mono", monospace;
  color: gray;
}

.resume .resume-info-box .content-box .content-heading h2 {
  display: inline-block;
  color: #eea302;
}

.resume .resume-info-box .content-box .content-heading span {
  font-weight: bold;
  font-size: 13px;
  color: #eea302;
}

.resume .resume-info-box .content-box p {
  font-family: "Roboto Mono", monospace;
  color: #fff;
  font-size: 11px;
}


/* Skills And Experties */

#Skills-experties {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}


#Skills-experties img {
  width: 60px;
}

#Skills-experties h2 {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #eea302;
}

#Skills-experties .top-skills {
  padding: 36px 12px;
  border-radius: 12px;
  gap: 25px;
  flex-wrap: wrap;
  max-width: 500px;
}

#Skills-experties .top-skills>h2 {
  /* text-decoration: underline; */
  color: #eea302;
}

#Skills-experties .top-skills-wrap {
  gap: 30px;
  transition: all .2s;
  flex-wrap: wrap;
}

#Skills-experties .top-skills-wrap ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 25px;
}

#Skills-experties .top-skills-wrap ul li {
  background-color: transparent;
  /* border: 2px solid #eea302; */
  padding: 5px 12px;
  border-radius: 12px;
  color: #fff;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .2s all;
}

#Skills-experties .top-skills-wrap ul li:hover {
  background-color: #eea302;
  transform: translateY(-10px);
}

#Skills-experties .top-skills-wrap>div {
  padding: 0px 12px;
}


#Skills-experties span {
  font-family: "Roboto Mono", monospace;
  color: gray;
}

#Skills-experties .resume-info-box-container {
  gap: 30px;
}

/* Other Skills */

#Skills-experties .other-skills {
  /* border: 2px solid #eea302; */
  padding: 36px 12px;
  border-radius: 12px;
  gap: 25px;
  flex-wrap: wrap;
  /* max-width: 500px; */
  /* min-height: 250px; */
}

.other-skills .other-skills-wrap ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 25px;
}

.other-skills .other-skills-wrap ul li {
  background-color: transparent;
  /* border: 2px solid #eea302; */
  padding: 5px 12px;
  border-radius: 12px;
  color: #fff;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .2s all;
}

#OS-2 .other-skills-wrap ul li {
  padding: 5px 30px;

}

.other-skills .other-skills-wrap ul li:hover {
  background-color: #eea302;
  transform: translateY(-10px);
}

/* projects */

.projects {
  padding: 120px 150px;
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 70px;
}

.projects .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 150px;

}

.projects>h1 {
  width: max-content;
  border: 2px solid #eea302;
  padding: 7px 20px;
  border-radius: 12px;
  background-color: #eea302;
  font-size: 30px;
}

.projects .projects-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 70px;
  max-width: 550px;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.projects .projects-box:hover img {
  width: 100%;
}

.projects .projects-box:hover .project-info {
  bottom: 0px;
}

.projects .projects-box .project-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  background: linear-gradient(#eea302, rgba(0, 0, 0, 0.8));
  padding: 30px;
  position: absolute;
  bottom: -300px;
  height: 100%;
  transition: .2s all;
}

.projects .projects-box .project-info .project-heading {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
}

/* Project Paragraph */

.project-info .project-paragraph p {
  font-family: "Roboto Mono", monospace;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.projects .project-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects .project-img-box img {
  width: 90%;
  height: auto;
  object-fit: cover;
  border: 1px solid gray;
  border-radius: 12px;
  transition: .2s all;
}




/* Contact Section */

.contact {
  padding: 150px 120px;
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.contact-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.contact-heading h1 {
  width: max-content;
  border: 2px solid #eea302;
  padding: 7px 20px;
  border-radius: 12px;
  background-color: #eea302;
  font-size: 30px;
}

.contact .contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.contact .contact-box .contact-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: flex-start;
  gap: 20px;
}

/* Contact Paragraph */

.contact-info .contact-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.contact-info .contact-paragraph a {
  color: #fff;
  text-decoration: none;
}


/* Contact */


.contact-form-box {
  border-radius: 5px;
}


.contact-form-box label {
  font-weight: 500;
}


.contact-form-box input:hover,
textarea:hover {
  border: 1.5px solid black;
}

/* First-last-name */

.first-last-name .first-name,
.last-name {
  width: 100%;
  margin: 8px;
}

.first-last-name input {
  width: 100%;
  padding: 12px;
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  border-radius: 12px;
}

/* Email and Subject */

.email-subject .email,
.subject {
  width: 100%;
  margin: 8px;
}


.email-subject input {
  width: 100%;
  padding: 12px;
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  border-radius: 12px;
}


/* Message and Submit */

.message-submit {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.message-submit .message {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.message-submit .submit {
  margin: 8px;
}

.message-submit textarea {
  width: 100%;
  padding: 15px;
  min-height: 150px;
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  resize: none;
  border-radius: 12px;
}

.submit button {
  width: 150px;
  padding: 12px;
  border-radius: 5px;
  border: 2px solid #eea302;
  font-size: 16px;
  cursor: pointer;
  transition: all .2s;
  background-color: #eea302;
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-style: normal;
  border-radius: 12px;
  font-weight: bold;
  color: #fff;
}

.submit button:hover {
  background-color: transparent;
  border: 2px solid #eea302;
  color: #eea302;
}

/* Footer */

hr {
  width: 95%;
  box-shadow: rgba(149, 157, 165, 0.2) -16px 0px 20px 20px;
  margin: auto;
}

footer {
  font-family: "Poppins", sans-serif;
  color: #eea302;
}

.footer-container {
  padding: 60px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer h1 {
  font-size: 17px;
}

footer span {
  font-family: "Roboto Mono", monospace;
  color: #fff;
  font-size: 13px;
}

/* phone */

.footer-links .phone {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}

.footer-links .email {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}

/* follow me */

.footer-links .follow-me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}


footer a {
  text-decoration: none;
  color: #fff;
}

.footer-links .follow-me img {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-color: #fff;
  padding: 2px;
}

/* copyrights */

.footer-links .copy-right {
  display: flex;
  justify-content: center;
  flex-direction: column;

}


/* GO TO TOP BUTTON */
footer .go-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 20px;
  height: 60px;
  padding: 15px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #eea302;
  bottom: 40px;
  right: 0px;
  cursor: pointer;
  opacity: 0;
  transition: opacity .5s;
}

footer .go-to-top span {
  color: #fff;
  font-weight: 600;
}

footer .go-to-top.active {
  transition: opacity .5s;
  opacity: 1;
}


/* UTILITY CLASSES */

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-colomn {
  flex-direction: column;
}

.hover:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.transition {
  transition: all .2s;
}